body {
    margin: 0;
    padding: 0;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    /* display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto) ; */
}

body header {
    /* grid-row: 1;
    grid-column: 1/span 4; */
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}


body header nav {
    display: flex;
    flex-direction: row;
    height: max-content;
    justify-content: space-between;
    align-items: center;
    /* gap: clamp(20px, 2vw, 1280px); */
   
    /* width: 100%; */
}

body header nav img{
    width: 45px;
    /* height: 100%; */
    object-fit: cover;
}

body header nav ul {
    /* max-width: 80%; */
    max-width: 760px;
    /* width: auto; */
   justify-self:right;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    gap: clamp(3px, 1vw, 20px);
    padding-right: 20px;
   
}

body header nav ul li{
  height: fit-content;
  width: 93px;
  border-bottom: 2px solid rgba(118, 118, 118, 0.537);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  box-sizing: border-box;
}

body header nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
    line-height: 2em;
    transition: all 0.1s ease-in-out; 
}

body header nav ul li:hover{
    border-bottom: 2.1px solid rgba(0, 0, 0, 0.512);
}

body header nav ul li:hover a{
 transform: scale(1.1);
}




body header .container__presentation {

}


